.App {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: auto;
  width: 100%;
  padding: 50px;
}

.App header {
  background-color: bisque;
}

.App form {
  border: black;
  margin: 25px;
}
